In [2]:
import pandas as pd
import requests
import re
from bs4 import BeautifulSoup

### Exercise 1

In [243]:
name = []
price = [] 
for page in range(1,51):
    pages = requests.get("https://books.toscrape.com/catalogue/page-{}.html".format(page))
    #print("https://books.toscrape.com/page-{}.html".format(page))
    print(f"{page} page status: ",pages.status_code)
    soup = BeautifulSoup(pages.content, 'html.parser')
    names = soup.select("div h3")
    prices = soup.select("div p.price_color")

    re_name = r'title=(.*\")'
    re_price = r'.*>£(\d+.\d+).*'

    for pick in names:
        dat1 = re.findall(re_name,str(pick))
        name.append(dat1[0].split('"')[1])
    for pick in prices:
        dat2 = re.findall(re_price,str(pick))
        price.append(float(dat2[0]))

1 page status:  200
2 page status:  200
3 page status:  200
4 page status:  200
5 page status:  200
6 page status:  200
7 page status:  200
8 page status:  200
9 page status:  200
10 page status:  200
11 page status:  200
12 page status:  200
13 page status:  200
14 page status:  200
15 page status:  200
16 page status:  200
17 page status:  200
18 page status:  200
19 page status:  200
20 page status:  200
21 page status:  200
22 page status:  200
23 page status:  200
24 page status:  200
25 page status:  200
26 page status:  200
27 page status:  200
28 page status:  200
29 page status:  200
30 page status:  200
31 page status:  200
32 page status:  200
33 page status:  200
34 page status:  200
35 page status:  200
36 page status:  200
37 page status:  200
38 page status:  200
39 page status:  200
40 page status:  200
41 page status:  200
42 page status:  200
43 page status:  200
44 page status:  200
45 page status:  200
46 page status:  200
47 page status:  200
48 page status:  200
49 page status:  200
50 page status:  200

In [246]:
d = {"Book_names":name,"Book_prices [Euros]":price}
data = pd.DataFrame(d)

In [247]:
data

                                            Book_names  Book_prices [Euros]
0                                 A Light in the Attic                51.77
1                                   Tipping the Velvet                53.74
2                                           Soumission                50.10
3                                        Sharp Objects                47.82
4                Sapiens: A Brief History of Humankind                54.23
..                                                 ...                  ...
995  Alice in Wonderland (Alice's Adventures in Won...                55.53
996   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)                57.06
997  A Spy's Devotion (The Regency Spies of London #1)                16.97
998                1st to Die (Women's Murder Club #1)                53.98
999                 1,000 Places to See Before You Die                26.08

[1000 rows x 2 columns]