* who is good in writing projects?
* alarms predicting project - presentations

# We are left with three topics:
* JSON file: 1 class (cool stuff)
* reading PDFs: 1 class (cool stuff)
* parallel computing: 1 class (very cool stuff) (MAP-REDUCE)

 # Introduction to Json files

JSON set new standards for data storage and organization - its a new programming paradygm that every data scientist must know.

JSON stands for ‘JavaScript Object Notation’, as it was derived from the JavaScript programming language.

It's a predictable, open-standard, language-independent format in which we exchange information with servers. Obviously, this makes using JSON beneficial for everyone involved. That's why the JSON format became widely popular. For instance, as we already mentioned, when we send a request to an API, data is often returned as a JSON. Another example is the payload data of a POST request which is also written in JSON.

The JSON format relies on 3 key concepts:

*    it should be easy for humans to read, write and understand;
*    easy for programs to process and generate, regardless of the programming language;
*    and, finally: written in plain text.

The usefulness of JSON lies in the fact that 
* it's versatile and relatively concise. 
* it's faster than other similar file formats, 
* widely used for web-related applications, making it easy to find mature programming libraries for it. 
* JSON is very intuitive, and many text editors have built-in functionality for viewing such files in an easy-to-read way. 
* it's easy to create and edit JSON files yourself using a text editor, while programmatically, it's a walk in the park.

# The structure of a JSON object is as follows:

*    The data are in name/value pairs using colons (remember python dictionaries?):.
*    Data objects are separated by commas.
*    Curly braces {} hold the objects.
*    Square brackets [] can be used to indicate an array that contains a group of objects.
*    Each data element is enclosed with quotes "" if it is a character, or without quotes if it is a numeric value.

# JSON Data Structures

JSON can store any of the following data types:

*    strings
*    numbers
*    objects (JSON object)
*    arrays
*    booleans (TRUE / FALSE)
*    null

# Niveles do complexidad de objetos:
* lets imagine Excel table:

#### List - two empty columns

In [84]:
['A','B']

['A', 'B']

#### Dictionary - two columns with two values

In [90]:
{'A':1,'B':2}

{'A': 1, 'B': 2}

#### List of dictionaries - two columns with two rows

In [92]:
# imagine two columns with two rows
[{'A':1,'B':2},
 {'A':3,'B':4}
]

[{'A': 1, 'B': 2}, {'A': 3, 'B': 4}]

In [96]:
import pandas as pd
df=pd.DataFrame([{'A':1,'B':2}, {'A':3,'B':4}])
df

   A  B
0  1  2
1  3  4

Netsted list of dictionaries:

In [97]:
[{'A':1,'B':[{'D':5}]},
 {'A':3,'B':[{'D':6}]}
]

[{'A': 1, 'B': [{'D': 5}]}, {'A': 3, 'B': [{'D': 6}]}]

In [98]:
df=pd.DataFrame([{'A': 1, 'B': [{'D': 5}]}, {'A': 3, 'B': [{'D': 6}]}])
df

   A           B
0  1  [{'D': 5}]
1  3  [{'D': 6}]

Nested table - columns with columns and rows
#### now it starts getting complicated - Pandas works with flat structures
* so what do we do if have complex nested lists or dictionaries like:

#### At this point 2D Pandas table stops being easy to read...

#### How can we visualize it to be better readable

(This will work on JupyterLab)

In [102]:
# works on JupyterLab
from IPython.display import JSON

JSON([{'A':1,'B':[{'D':5}]},
 {'A':3,'B':[{'D':6}]}
])

#### More meaningful example: address book

## Example 1 of a name/value pair using a colon:

In [103]:
{ "name":"John"}

{'name': 'John'}

## Example 2

In [104]:
{ "name":"John", "age":30, "city":"New York"}

{'name': 'John', 'age': 30, 'city': 'New York'}

## Example 3 Object student (OOP)

In [105]:
{
  "student": [ 
	
     { 
        "id":"01", 
        "name": "Tom", 
        "lastname": "Price" 
     }, 
	
     { 
        "id":"02", 
        "name": "Nick", 
        "lastname": "Thameson" 
     } 
  ]   
}

{'student': [{'id': '01', 'name': 'Tom', 'lastname': 'Price'},
  {'id': '02', 'name': 'Nick', 'lastname': 'Thameson'}]}

#### we could visualize it with Ipython but there is a better tool: Firefox!
* lets save the above code into a .json file and open it with Firefox

# JSON vs XML – What’s the difference?

Another commonly used standard for data transfer to and from servers is the XML format.

So, what are the main similarities and differences between JSON and XML?

*  both come in a human-readable form and can represent the same objects and information. 
* However, JSON is less verbose than XML, as it uses fewer words in a simpler format to convey the same information. 
* JSON is also far easier to translate into code. XML needs specialized, slow parsers that incorporate it into your program. And that is its main disadvantage.
* That’s why JSON is slowly replacing XML in AJAX calls and other client-server interactions.

In [ ]:
<?xml version="1.0" encoding="UTF-8" ?>
<root>
	<student>
		<id>01</id>
		<name>Tom</name>
		<lastname>Price</lastname>
	</student>
	<student>
		<id>02</id>
		<name>Nick</name>
		<lastname>Thameson</lastname>
	</student>
</root>

# Difference between JSON and Python Dictionary
* not that much!!! very similar JSON can also be accessed using key-value pairs
* JSON is a pure string written in a convention format, which does not have any characteristics of data structure. ... 
* The Python dict string uses single quotation marks, and JSON enforces double quotation marks. You can nest tuple in Python dict.

# Converting from JSON to Dictionary

In [15]:
import json

# some JSON: (string)
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

# Converting Dictionary to JSON

In [106]:
import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string (that we can save into a file):
print(y) 
print()

{"name": "John", "age": 30, "city": "New York"}

# Loading JSON to Python
* flattening the file

In [ ]:
!ls

## To dictionary

In [107]:
import json
  
# Opening JSON file
f = open('example_2.json')
  
# returns JSON object as 
# a dictionary
data = json.load(f)
print(type(data))

<class 'dict'>

In [111]:
print(data.keys())
print(data['quiz'])

dict_keys(['quiz'])
{'sport': {'q1': {'question': 'Which one is correct team name in NBA?', 'options': ['New York Bulls', 'Los Angeles Kings', 'Golden State Warriros', 'Huston Rocket'], 'answer': 'Huston Rocket'}}, 'maths': {'q1': {'question': '5 + 7 = ?', 'options': ['10', '11', '12', '13'], 'answer': '12'}, 'q2': {'question': '12 - 8 = ?', 'options': ['1', '2', '3', '4'], 'answer': '4'}}}

#### we can access the key-value pair using two methods:
* classic one data['key_name']
* better one data.get('key_name')

In [112]:
data['quiz']

{'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
   'options': ['New York Bulls',
    'Los Angeles Kings',
    'Golden State Warriros',
    'Huston Rocket'],
   'answer': 'Huston Rocket'}},
 'maths': {'q1': {'question': '5 + 7 = ?',
   'options': ['10', '11', '12', '13'],
   'answer': '12'},
  'q2': {'question': '12 - 8 = ?',
   'options': ['1', '2', '3', '4'],
   'answer': '4'}}}

In [113]:
data.get('quiz')

{'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
   'options': ['New York Bulls',
    'Los Angeles Kings',
    'Golden State Warriros',
    'Huston Rocket'],
   'answer': 'Huston Rocket'}},
 'maths': {'q1': {'question': '5 + 7 = ?',
   'options': ['10', '11', '12', '13'],
   'answer': '12'},
  'q2': {'question': '12 - 8 = ?',
   'options': ['1', '2', '3', '4'],
   'answer': '4'}}}

* the last one is better because if the key doesnt exist there is not error

In [114]:
print(data['quizzz'])

KeyError: 'quizzz'

In [115]:
print(data.get('quizzz'))

None

## to pandas

In [118]:
import pandas as pd
df = pd.read_json('example_2.json', orient='values')
df

                                                    quiz
maths  {'q1': {'question': '5 + 7 = ?', 'options': ['...
sport  {'q1': {'question': 'Which one is correct team...

In [119]:
import pandas as pd
df = pd.read_json('example_2.json', orient='index')
df

,sport,maths
quiz,{'q1': {'question': 'Which one is correct team...,"{'q1': {'question': '5 + 7 = ?', 'options': ['..."

# Where can you find JSON
* API outputs!
* Twitter Facebook save all their objects as JSON files
* Jupyter notebook is JSON file!

# Twitter json object

http://www.slaw.ca/wp-content/uploads/2011/11/map-of-a-tweet-copy.pdf  
https://developer.twitter.com/en/docs/twitter-api/v1/data-dictionary/object-model/tweet

In [18]:
! wget https://gist.githubusercontent.com/hrp/900964/raw/2bbee4c296e6b54877b537144be89f19beff75f4/twitter.json

--2022-09-14 12:38:18--  https://gist.githubusercontent.com/hrp/900964/raw/2bbee4c296e6b54877b537144be89f19beff75f4/twitter.json
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6017 (5.9K) [text/plain]
Saving to: 'twitter.json.1'

twitter.json.1      100%[===================>]   5.88K  --.-KB/s    in 0.001s

2022-09-14 12:38:18 (8.44 MB/s) - 'twitter.json.1' saved [6017/6017]

# There is more about JSON

### Many modern pages are written now written using JSON:
* backend is JSON 
* front end is JSON converted to the website using JavaScript
* examples: 
  * https://reactjs.org/https://reactjs.org/
  * https://angularjs.org/https://angularjs.org/
* people are needed to do this stuff!!! (beside learn docker)
* see how this works in practice in the next notebook