In [1]:
import pandas as pd

In [2]:
data_source_url = "https://raw.githubusercontent.com/mhemmg/datasets/master/nlp/airline_tweets.csv"
airline_tweets = pd.read_csv(data_source_url)
airline_tweets2=airline_tweets[['airline_sentiment','text']]
airline_tweets2.to_csv('full.csv',index=False)
airline_tweets.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [20]:
airline_tweets

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14635,569587686496825344,positive,0.3487,NaN,0.0000,American,NaN,KristenReenders,NaN,0,@AmericanAir thank you we got on a different f...,NaN,2015-02-22 12:01:01 -0800,NaN,NaN
14636,569587371693355008,negative,1.0000,Customer Service Issue,1.0000,American,NaN,itsropes,NaN,0,@AmericanAir leaving over 20 minutes Late Flig...,NaN,2015-02-22 11:59:46 -0800,Texas,NaN
14637,569587242672398336,neutral,1.0000,NaN,NaN,American,NaN,sanyabun,NaN,0,@AmericanAir Please bring American Airlines to...,NaN,2015-02-22 11:59:15 -0800,"Nigeria,lagos",NaN
14638,569587188687634433,negative,1.0000,Customer Service Issue,0.6659,American,NaN,SraJackson,NaN,0,"@AmericanAir you have my money, you change my ...",NaN,2015-02-22 11:59:02 -0800,New Jersey,Eastern Time (US & Canada)
14639,569587140490866689,neutral,0.6771,NaN,0.0000,American,NaN,daviddtwu,NaN,0,@AmericanAir we have 8 ppl so we need 2 know h...,NaN,2015-02-22 11:58:51 -0800,"dallas, TX",NaN

In [3]:
import re
features = airline_tweets['text'].values
labels = airline_tweets['airline_sentiment'].values
processed_features = []

for i in range(0, len(features)):
    
    # remowing tweet
    processed_feature = re.sub(r'@\w+', ' ', str(features[i]))

    # remowing retweet
    processed_feature = re.sub(r'rt @\w+:', ' ', processed_feature)

    # Eliminación de números
    processed_feature = re.sub("\d+", ' ', processed_feature)

    # Removing links
    processed_feature = re.sub(r'http\S+', ' ', processed_feature)

    # Remove all the special characters
    processed_feature = re.sub(r'\W', ' ', processed_feature)

    # remove all single characters
    processed_feature= re.sub(r'\s+[a-zA-Z]\s+', ' ', processed_feature)

    # Remove single characters from the start
    processed_feature = re.sub(r'\^[a-zA-Z]\s+', ' ', processed_feature) 

    # Substituting multiple spaces with single space
    processed_feature = re.sub(r'\s+', ' ', processed_feature, flags=re.I)

    # Removing prefixed 'b'
#    processed_feature = re.sub(r'^b\s+', '', processed_feature)
    
    # Converting to Lowercase
    processed_feature = processed_feature.lower()

    processed_features.append(processed_feature)

In [4]:
tweets = airline_tweets[['airline_sentiment']]
tweets['processed_features']=processed_features
tweets

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      airline_sentiment                                 processed_features
0               neutral                                         what said
1              positive   plus you ve added commercials to the experien...
2               neutral    didn today must mean need to take another trip
3              negative   it really aggressive to blast obnoxious enter...
4              negative             and it a really big bad thing about it
...                 ...                                                ...
14635          positive   thank you we got on different flight to chicago
14636          negative   leaving over minutes late flight no warnings ...
14637           neutral      please bring american airlines to blackberry
14638          negative   you have my money you change my flight and do...
14639           neutral   we have ppl so we need know how many seats ar...

[14640 rows x 2 columns]

# 1. TextBlob

In [5]:
from textblob import TextBlob
from textblob.classifiers import NaiveBayesClassifier

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(tweets['processed_features'], tweets['airline_sentiment'], test_size=0.2, random_state=0)

In [7]:
def Data(x,y):
    data = [(k,y.tolist()[i]) for i,k in enumerate(x)]
    return data

In [8]:
train = Data(X_train,Y_train)
test = Data(X_test,Y_test)

In [9]:
def Paquetes(datos,n):  #the training set is way too large, we need to split it into smaller sets
    return [datos[i*int(len(datos)/n):(i+1)*int(len(datos)/n)] for i in range(n)]

paquetes = Paquetes(Data(X_train,Y_train),20)

In [10]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [11]:
classifier = NaiveBayesClassifier(paquetes[0])

Accuracy del modelo TextBlob

In [12]:
TextBlob_accuracy = classifier.accuracy(Data(X_test,Y_test))
TextBlob_accuracy

0.6936475409836066

# 2. Microsoft Azure

In [39]:
key = "1eb43cc119e14a49aa7fd165ebca2f19"
endpoint = "https://jorge1.cognitiveservices.azure.com/"

In [ ]:
from azure.ai.textanalytics import TextAnalyticsClient
from azure.core.credentials import AzureKeyCredential

# Authenticate the client using your key and endpoint 
def authenticate_client():
    ta_credential = AzureKeyCredential(key)
    text_analytics_client = TextAnalyticsClient(
            endpoint=endpoint, 
            credential=ta_credential)
    return text_analytics_client

client = authenticate_client()

In [ ]:
import numpy as np
azure_test = []
azure_r = [client.analyze_sentiment(X_test[i:i+10]) for i in np.arange(0,len(X_test),10)]

def condicion(sentiment):
  if sentiment == 'positive':
    return 1
  if sentiment == 'neutral':
    return 0
  if sentiment == 'negative':
    return -1

for j in azure_r:
  azure_test = [condicion(i.sentences[0].sentiment) for i in j]

In [ ]:
accuracy_azure = accuracy_score(azure_test,Y_test)
accuracy_azure

# 3.Sklearn

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer

X = TfidfVectorizer().fit_transform(processed_features).toarray()
X_train, X_test, Y_train, Y_test = train_test_split(X, labels, test_size=0.2, random_state=1)

In [14]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score

DecisionTreeClassifier

In [15]:
DTC = DecisionTreeClassifier()
DTC.fit(X_train,Y_train)
DecisionTree_accuracy = DTC.score(X_test,Y_test)

RandomForestClassifier

In [16]:
RFC = RandomForestClassifier()
RFC.fit(X_train, Y_train)
RandomForest_predict = RFC.predict(X_test)
RandomForest_accuracy =accuracy_score(Y_test, RandomForest_predict)

MLPClassifier

In [17]:
MLPC = MLPClassifier()
MLPC.fit(X_train, Y_train)
MLPClassifier_predict = MLPC.predict(X_test)
MLPClassifier_accuracy =accuracy_score(Y_test, MLPClassifier_predict)

IV. Compare the results in the table \\
V. Write conclusions

In [18]:
df = pd.DataFrame({"Method":["TextBlob","DecisionTree","RandomForest","MLPClassifier"],"Accuracy":[TextBlob_accuracy,DecisionTree_accuracy,RandomForest_accuracy,MLPClassifier_accuracy]})

In [19]:
df

          Method  Accuracy
0       TextBlob  0.693648
1   DecisionTree  0.678620
2   RandomForest  0.740779
3  MLPClassifier  0.737705

$\bullet$ Se puede notar que existen modelos preentrenados en el area de NLP que ayudan a ahorrar demasiado tiempo de computo para implementar nuevos modelos.

$\bullet$ Para nuestro problema tuvo mejor accuracy los modelos hechos con sklearn pero en caso de que una empresa como amazon necesite un modelo NLP para clasificar opiniones, les recomendaria mejor el modelo que se utiliza con Azure ya que tiene una base de datos más solida

$\bullet$ Comparando el modelo RandomForest con MLPClassifier se puede notar que la diferencia no es mucha pero obtiene mejores resultados RandomForest lo cual resulta curioso ya que se demora muchisimo menos que MLPClassifier en entrenarse

$\bullet$ RandomForest fue el que obtuvo mejores resultados pero para una base de Datos de mayor tamaño los modelos de redes neuronales tendrian un mejor desempeño